:root{

    font-size : 16px;
    font-family:'Press Start 2P', cursive;

    --bg-primary: #000000;
    --bg-secondary: ;
    --text-primary: #f00;
    --text-secondary: orange;

}

body {
    background-color: var(--bg-primary);
    margin-top: 30vh; 
    margin-bottom:  ;
    padding: 0;
}


h1{
    color: var(--text-primary);
    position: center;
}




.containerMain {
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
}


.container {
    display: flex;

    flex-direction: row;
    justify-content:center ;
    justify-content:space-between;
    align-items: space-between;
    align-items: center:
}

.item{
    display:flex;
    flex-direction :column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}


#submitBox{
    font-family:'Press Start 2P', cursive;
    font-size: 4;
    color:var(--text-primary);
    background-color: var(--bg-primary);
    border-color:var(--text-primary);
    margin-top:1rem;
}

#inputBox{
    font-family:'Press Start 2P', cursive;
     font-size: 4;                    
    color:var(--text-primary);
    background-color: var(--bg-primary);
     border-color:var(--text-primary); 
}


span {
    margin-top: 1rem;
}


@media only screen and (max-width:500px){
    body{
        font-size: 3vw;

    }
}
