<!DOCTYPE html>
    <html>
        <head>
            <title>
                covid daily update
            </title>
        </head>
        <body>
            <header>
                <h1>
                    COVID DAILY
                </h1>
            </header>
            
            <main>
                <form action="#" id="state-form", method="post">
                    <label for="state">enter the name of the state</label>
                    
                    <input type="text" method="post" name="state" id="state">
                    <input type="submit" value="submit">
                </form>
            </main>

            <footer>

            </footer>
        </body>



    </html>
